server:
  servlet:
    context-path: /api/v1

spring:
  datasource:
    hikari:
      master:
        username: ${DATABASE_MASTER_USERNAME}
        password: ${DATABASE_MASTER_PASSWORD}
        driver-class-name: com.mysql.cj.jdbc.Driver
        jdbc-url: jdbc:mysql://${DATABASE_MASTER_URL}/${DATABASE_MASTER_SCHEMA}?serverTimezone=Asia/Seoul
      slave:
        username: ${DATABASE_SLAVE_USERNAME}
        password: ${DATABASE_SLAVE_PASSWORD}
        driver-class-name: com.mysql.cj.jdbc.Driver
        jdbc-url: jdbc:mysql://${DATABASE_SLAVE_URL}/${DATABASE_SLAVE_SCHEMA}?serverTimezone=Asia/Seoul
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    encoding: UTF-8
    baseline-on-migrate: true
    locations: classpath:db/migration/local

  cache:
    type: redis
    redis:
      time-to-live: 60000
      cache-null-values: true
  redis:
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "http://223.255.205.62:30123/api/v1/{action}/oauth2/code/{registrationId}"
            scope: email, profile
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-name: Kakao
            redirect-uri: "http://223.255.205.62:30123/api/v1/{action}/oauth2/code/{registrationId}"
            client-authentication-method: POST
            authorization-grant-type: authorization_code
            scope: profile_nickname, profile_image, account_email
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            client-name: Naver
            redirect-uri: "http://223.255.205.62:30123/api/v1/{action}/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code
            scope: name, email, nickname, gender, age, birthday, profile_image, birthyear, mobile

        provider:
          kakao:
            authorization_uri: https://kauth.kakao.com/oauth/authorize
            token_uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user_name_attribute: id
          naver:
            authorization_uri: https://nid.naver.com/oauth2.0/authorize
            token_uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user_name_attribute: response

jwt:
  access-header: Authorization
  refresh-header: Refresh
  secret: ${JWT_SECRET}

client:
  url: ${CLIENT_URL}
  endpoint: ${CLIENT_ENDPOINT}
