name: build and push backend docker image
on: 
  workflow_call:

defaults:
  run:
    shell: bash
    working-directory: ./back

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v4
        with:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - uses: actions/setup-node@v2
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          architecture: x64
      - run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - run: gradle jib
      